.sidebar{
  width:17rem
}
.content:not(.custom){
  max-width:920px;
}
table{
  display:table;
  width:100%;
  margin-bottom:100px;
}
th{
  text-align:left;
}
td,th{
  border:none
}
tr{
  border-top:none;
  border-bottom:1px solid #dfe2e5;
}
.attr{
  font-size:22px;
  margin-top:30px;
}
.card pre{
  background:#fff !important;
}

$code-default-code = #3182bd
.code-row{
  span{
    color:$code-default-code;
  }
  .code-string{
    color:#756bb1
  }
}
.code-s{
  span{
    color:#403c3c;
  }
}
.home{
  padding:0px
}
.content pre code{
  color:#3182bd !important
}
.hljs-name,.hljs-tag,.hljs-keyword{
  color:#3182bd !important
}
.hljs-string{
  color:#756bb1 !important;
}